<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Shop</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<nav>
    <h2>E-Commerce</h2>
    <div>
        <a href="/">Home</a>
        <a href="/shop">Shop</a>
        <a href="/cart">Cart</a>
        <a href="/login">Login</a>
    </div>
</nav>

<h1 class="page-title">Products</h1>

<div class="product-grid">
    <div class="card" th:each="p : ${products}">
        <img th:src="@{/images/{img}(img=${p.image})}">
        <h3 th:text="${p.name}"></h3>
        <p class="price">₹ <span th:text="${p.price}"></span></p>
        <p th:text="${p.description}"></p>
        <button>Add to Cart</button>
    </div>
</div>

</body>
</html>
